section.wrappers
{
    text-align: center;
    float: right;
}
canvas 
{
    display: block;
    outline: 1px solid rgb(255, 255, 255);
    max-height: 70vh;
    max-width: 100vw;
    background-image: url("../media/grass.png");
}

body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
    background-color: black;
}

body#index{
    background-color: lightgray;
}

div#modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: lightgray;
}

.modal-content {
    background-color: #d1ffdc;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    background-color: gray;
 
}

p {
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section.clock {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.button {
    display: block;
    background-color: #5f5f5f00;
    border: none;
    box-shadow: 0 9px#24242400;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    }
    
    .button:hover {
    background-color: #3F3F3F00;
    }
    
    .button:active {
    box-shadow: 0 5px #3D3D3D00;
    transform: translateY(5px);
    }
    
    .pressed{
    box-shadow: 0 5px #3D3D3D00;
    transform: translateY(5px);    
    }
    
    .round {
    border-radius: 30%;
    }
    
    #joy{
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        right: 20px;
        bottom: 200px;
        outline: 3px rgba(255, 255, 255, 0.219) solid;
        background-color: rgba(0, 0, 0, 0);
    }
